*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}
.tp-nv2{
    display: none;
}

header{
    background-color: #FAF9FB;
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    top: 0;
    z-index: 9;
}

.tp-nv{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* border: 2px solid red; */
   
}


.head-left img{
    width: 150px;

}


.head-center .menu{
    display: flex;
    gap: 1.6em;
    margin: 0px;
    padding: 0px;
}



.head-right{
    display: flex;
    align-items: center;
    gap: 1em;
}

.loginn{
    color: black;
    font-size: 16px;
    text-align: center;
    }

    .loginn:hover{
        color: purple;
    }


    .sn-btn{
        padding: 10px 20px;
        border-radius: 10px;
        background-color: black;
        color: white;
    }
    .fa-solid{
        display: none;
        color: black;
    }
    .menu li a{
        font-size: 15px;
        color: black;
    }
    

    .menu-drop{
        position: relative;
    }

    .dropdown{
    position: absolute;
    display: none;
    border: none;
  
    }

    .menu-drop:hover .dropdown{
    display: block;
}

.drop-child{
    border-left: 1px solid #928f8f;
    padding: 0px 60px;
    margin-left: 60px;
}
.drp-one{
    border: none;
}

.drop-child li{
    color: #928f8f;
    font-size:1.2em ;
    font-weight:600 ;
}
.drop-child a{
    width: 100%;
}



.drop-child p{
    font-size: .7em;
    font-weight: 100;
    width: 100%;
    margin-bottom: .5em;
    

}



    .child-wrap {
        display: flex;
        justify-content: space-between;
        padding: 0px 80px 0px 80px;
        width: 100vw;
        height: auto;
       position: fixed;
       right: 0px;
        top: 50px; ;
       background-color: #FAF9FB;
    }


    .child-wrap ul li{
        color: black;
        text-align: left;
        margin-bottom: 30px;
    }

    .child-wrap ul li p{
        color: #646161;
       
    }

    @media(max-width:991px){
       .tp-nv{
        display: none;
       }
        .tp-nv2{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin: auto;
       
       }

       .logo2 img{
        width: 50px;

       }

       .nv2-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
       }

       .nv2-left button{
            padding: 7px 10px;
            border-radius: 5px;
            background-color: black;
            color: white;
       }
    }

    /* ===================Hero Section=========================== */
   body{
    padding-top: 80px;
    background-color: #FAF9FB;
   

   }
   #hero{
    background-color: #2A222B;
    padding: 50px 40px 60px 40px;
    margin-bottom: 60px;
    overflow: hidden;
   }
   

   .hero-sect{
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow: hidden;
   }
   
   
    .hero-top{
    width: 95%;
    margin: auto;
    max-width: 1440px;
    height: fit-content;
    max-height: 361;
   }

.hero-top-inner{
    width: 60%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}

.hero-p1{
    color: #ddb7f0;
    font-size: 1em;
    font-family: "Twklausanne 600" Arial, sans-serif;
    /* max-width: 193px; */
    max-height: 16.8;
}


.hero-p2{
    color: white;
    font-size: 1.6em;
    font-family: "Twklausanne 600" Arial, sans-serif;
    /* max-width: 608px; */
    max-height: 52px;
    margin-bottom: 30px;
    text-align: center;
}


.hero-top h1{
    color: #FFFFFF;
    font-size: 5em;
    /* max-width: 832px; */
    max-height: 160px;
    font-family: Tobias, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    text-align: center;
}



.hero-top a{
    background-color: #fff;
    padding: 17px 40px;
    border-radius: 15px;
    color: black;
    /* max-width: 160px; */
    max-height: 48px;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}


.hero-top a:hover{
    border-radius: 20px;
}

   .hero-down{
     /* background-color:red; */
    width: 95%;
    max-width:1440px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 2px solid crimson; */
   }

   .hero-down video{
    width: 100%;
    max-width:1440px ;
    margin: auto;
   }
@media(min-width:1900px){
    .hero-top-inner{
    width: 90%;
    margin: auto;
    }
}
@media(max-width:1167px){
    .hero-top-inner h1{
        font-size:4em ;
        padding: 0;
    }
}

@media(max-width:991px){
    .hero-top-inner{
        width: 90%;
    }

    .hero-top-inner h1{
        font-size:2.5em;
        text-align: center;

}
}

@media(max-width:592px){
    .hero-p2{
        font-size:1.1em ;
    }

    .hero-top-inner{
    width: 90%;
    margin:  auto;
}
    .hero-top-inner a{
        width: 100%;
    }
}


@media(max-width:379px){
    .hero-p1{

    font-size: .7em;
    font-family: "Twklausanne 600" Arial, sans-serif;

}
.hero-top-inner h1{
        font-size:1.8em;
        text-align: center;

}
.hero-top-inner{
    width: 100%;
    margin:  auto;
}
.hero-p2{
        font-size:.9em ;
    }
}
    /* ================products======================= */
.move{
    margin-bottom: 70px;
}


.cus-wrapp{
     margin: 60px 0px;
}
.parent1{
    width: 90%;
    margin: auto;
    display: flex;
    gap: .8em;
    justify-content: center;
    max-width: 1000px;
    overflow: hidden;
   
}

.child{
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 20px;
    padding: 20px 0px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.child img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* margin: auto; */
}
.cus-wrap-two{
    display: none;
}

@media(max-width:600px){
    .parent1, .parent2{
        display: none;
    }
    .cus-wrap-two{
        display: block;
    }
    
    .cus-parent2{
        display: flex;
        justify-content: space-evenly;
    }

    .child{
    border: 1px solid black;
    padding:  20px;
    background-color: white;
    border-radius: 20px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

}

.mve-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 40px 0px;
}

.mve-top h2{
    font-size: 3.2em;
    font-weight: 400;
}




@media(max-width:1245px){
    .first-side{
        width: 80%;
        margin: auto;
    }
}

@media(max-width:592px){
    .mve-top h2{
        width: 80%;
        font-size: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;

    }
}



/* =========================Customer-section======================= */

.customer-sect{
    margin-bottom:70px;
}

.topp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: auto;
}


.downn-head{
    display: none;
}

.downn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    max-width: 1440px;
    height: auto;
    max-height: fit-content;
    margin:auto ;
    gap: 1em;    
}


.downn-right{
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.downn-left{
    width: 459px;
    /* width: Auto; */
     height: auto;
}



.downn-right video{
    width: 100%;
    object-fit: cover;
    max-width: 582px;
    /* height: auto; */
    margin: auto;
    min-width: 300px;
}


.topp h2{
    font-family: Tobias, "Times New Roman", sans-serif;
    font-size:3.5em ;
    line-height: 70px;
    font-weight: 400;
    max-width: 832px;
    max-height: fit-content;
    text-align: center;
    padding: 0px 50px;
    margin-bottom: 50px;
}

.typ-frm{
    font-size: .8em;
    line-height: 16.8px;
    color: #9454AB;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 30px;
}

.downn-left h3{
        width: 100%;
        font-size: 3em;
        font-weight: 400;
        line-height: 53px;
        margin-bottom: 15px;
        min-width: fit-content;
}

.typ-frm2{
    font-size: 1.5em;
    margin-bottom: 35px;
    font-weight: 400;
    line-height: 1.8em;
}



.downn-left button {
    padding: 10px 35px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
#cust-sect{
    margin-bottom: 40px;
}



@media(max-width:991px){
    
    .downn-left a, .typ-frm2{
        display: none;
    }

    .downn-head{
        display: block;
        margin-top: 20px;
    }
    
    .downn{
        flex-direction: column;
        width: 100%;

    }

    .downn-left{
        width: 100%;
        padding: 0px;

    }

    .downn-right{
        width: 95%;

    }

    .downn-right video{
        width: 100%;
        min-width: 90vw;
        max-width: fit-content;
    }


    .typ-frm{
    font-size: 1.3em;
    line-height: 15px;
    color: #9454AB;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
}

 .downn-left h3{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size:2.2em ;
    padding: 10px 0px;
    min-width: fit-content;
    max-width: 999px;
 }

.downn-head p{
    width: 95%;
    margin: auto;
    text-align: center;
    font-size:1.2em ;
    padding: 10px 0px;
    margin-bottom: 15px;
 }

 .downn-head a{
    width: 17%;
    margin: auto;
    text-align: center;
    font-size: 1em;
    background-color: black;
    color: white;
    padding: 15px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .topp h2{
    font-family: Tobias, "Times New Roman", sans-serif;
    font-size:2.5em ;
    line-height: 70px;
    font-weight: 400;
    max-width: 999px;
    text-align: center;
    padding: 0px 50px;
    margin-bottom: 50px;
}

}







@media(max-width:550px){
     .topp h2{
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: 2em;
        line-height: 1.2em;
        margin-bottom: 1.2em;
 }
.downn-left{
    width: 100%;
    padding: 0;
}
 .downn-left h3{
    width: 95%;
    margin: auto;
    text-align: center;
    font-size:2em ;
    padding: 10px 0px;
 }

 .typ-frm2{
     width: 95%;
    margin: auto;
    text-align: center;
    font-size:1em ;
    padding: 10px 0px;
 }

.typ-frm{
    width: 95%;
    margin: auto;
    text-align: center;
    font-size:1.8em ;
    padding: 10px 0px;
}

 .downn-head a{
    width: 95%;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    background-color: black;
    color: white;
    padding: 15px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 

}


/* =====================Custom-IQ==================== */
.custom-iq{
    margin-bottom: 50px;
   padding: 70px 0px;
}

.cuss-head{
    display: none;
}
.cus-iq{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    height: auto;
    max-height: fit-content;
    margin:auto ;
    gap: 1em;
    /* background-color: red; */
}

.cus-left{
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    /* background-color: darkorange; */
    align-items: center;
}

 .cus-left video{
    width: 100%;
    object-fit: cover;
    max-width: 582px;
    height: auto;
    margin: auto;
    min-width: 300px;
}



.cus-right{
     max-width: fit-content;
    width: 45%;
     height: auto;

}



.cuss-p1{
    font-size: 1.2em;
    color: purple;
    text-decoration: underline;
    margin-bottom: 25px;
}

.cus-right h3{
        font-size: 2.4em;
        margin-bottom: 25px;
}

.cuss-p2{
    font-size: 1.4em;
    margin-bottom: 15px;
}


.cus-right button {
    padding: 10px 35px;
    border-radius: 10px;
    background-color: black;
    color: white;
}


@media(max-width:991px){

    .cus-right a, .cuss-p2{
        display: none;
    }
    .cuss-head{
        display: block;
        margin-top: 20px;
    }

    .cus-right{
        width: 100%;
    }


    .cus-iq{
        flex-direction: column-reverse;

    }

    .cus-right{
        width: 100%;

    }

    .cus-left{
        width: 100%;

    }

    .cus-left video{
        width: 100%;
        min-width: 90vw;
        max-width: fit-content;
    }

    .cuss-p1{
        font-size: 1.3em;
        line-height: 15px;
        color: #9454AB;
        font-weight: 400;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 15px;
    }

    .cus-right h3{
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: 2em;
        padding: 10px 0px;
        min-width: fit-content;
        max-width: 999px;
    }

    .cuss-head p{
        width: 95%;
        margin: auto;
        text-align: center;
        font-size: 1em;
        padding: 10px 0px;
        margin-bottom: 15px;
    }

    .cuss-head a{
        width: 17%;
        margin: auto;
        text-align: center;
        font-style: 1em;
        background-color: black;
        color: white;
        padding: 15px 0px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    
}



@media(max-width:550px){
    
.cus-right{
    width: 100%;
    padding: 0;
}
 .cuss-right h3{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size:2em ;
    padding: 25px 0px;
    line-height: 15px;
 }

 .cuss-p1{
     width: 98%;
    margin: auto;
    text-align: center;
    font-size:1em;
    line-height: 20px;
 }

 .cuss-p2{
    width: 95%;
    margin: auto;
    text-align: center;
    font-size:1.1em ;
    padding: 10px 0px;
    line-height: 20px;
 }

 .cuss-head a{
    width: 95%;
    margin: auto;
    font-size: 1em;
 }

}

/* ====================marrq-section==================== */
.marqu-sect{
   margin-top: 50px;
   margin-bottom: 70px;
}
.marq-wrapper{
    width: 94%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 70px;
    margin: auto;
    padding: 70px 0px;
    overflow: hidden;
}

.marrq-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 832px;

}

.marrq-top p{
    font-size: .8em;
    font-weight: 400;
    line-height: 17px;
    color: #9454AB;
    margin-bottom: 35px;
    
}

.marrq-top h3{
    font-size: 3.6em;
    line-height: 52px;
    max-height: 158px;
    max-width: 750px;
    font-weight: 400;
    text-align: center;
    padding: 0px 50px;

}


.marrq-one{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: .5em;

}

.marrq-two{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    gap: .5em;
}


.upper-marrq{
    /* border: 2px solid black; */
    width: auto; height: 75px;
    background-color: #ede9f1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
  
}

.marrq-down{
     /* border: 1px solid black; */
      width: auto; height: 75px;
    background-color: #FAF9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: auto;
}
 
.upper-marrq:hover{ 
    border-radius: 0px;
}


.maq-one:hover{
    background-color: #006BFF;
}

.maq-two:hover{
    background-color: #006BFF;
}

.maq-three:hover{
    background-color:black;
}
.maq-four:hover{
    background-color:#EF6451;
}

.maq-five:hover{
    background-color:#4A154B;
}

.maq-six:hover{
    background-color:#635BFF;
}

.maq-seven:hover{
    background-color:#146EF5;
}

.maq-eight:hover{
    background-color:#FF4F00;
}

.maq-nine:hover{
    background-color:#004CFF;
}





.upper-marrq img{
    width: 80px;
}


.btn{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.btn button{
    padding: 20px 30px;
    background-color: black;
    color: #fff;
    border-radius: 15px;
}
.btn button:hover{
    border-radius: 20px;
}


@media(max-width:550px) {
    .marrq-top h3{
    font-size: 2em;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
    padding: 0px;

}

.btn button{
    width: 90%;
    margin: auto;
}
    
}
/* ===================why-section===================== */
.why-sect-typfrm{
    margin-bottom: 50px;
}

.why-typ{
    width: 60%;
    margin: auto;
    height: auto;
}

.why-center{
    /* border: 2px solid mediumaquamarine; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;

}

.why-percentt{
    /* border: 2px solid fuchsia; */
    max-width:235px ;
    max-height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    
}

.why-top{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin: auto;
    max-width: 452px;
    max-height: 115px;
    /* border: 2px solid dodgerblue; */
    margin-bottom: 30px;
}

.why-top h2{
    font-size: 64px;
    max-width: 452px;
    font-weight: 400;
    line-height: 72px;
    margin-bottom: 15px;
}

.why-top p{
    font-size: 20px;
    max-width: 447;
}

.why-percentt h3{
    font-family: Tobias, "Times New Roman", sans-serif;
    font-size:4.5em;
    max-width:143px;
    max-height:72px;
    font-weight: 400;
    line-height: 72px;
}

.why-percentt p{
    font-size: 1.3em;
    line-height: 26px;
    font-weight: 400;
    max-width: 235px;
    padding: 0px 25px;
    text-align: center;
    margin: auto;
}
 
.why-btn button{
    padding: 12px 40px;
    background-color: #2A222B;
    color: #fff;
    border-radius: 10px;
}
.why-btn button:hover{
    border-radius: 15px;
}

.why-btn{
    display: flex;
    justify-content: center;
}


@media(max-width:767px){
    .why-top h2{
    font-size: 2em;
    max-width: 452px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 25px;
    }
    .why-top p{
    font-size: 1em;
    max-width: 447;
}
    .why-center{
        flex-direction: column;
    }

.why-typ{
    width: 95%;
    margin: auto;
    height: auto;
}

.why-percentt{
    margin-bottom: 25px;
    width: 90%;
    max-width: 450px;
}

.why-percentt p{
    font-size: 1.3em;
    line-height: 16px;
    font-weight: 400;
    width: 95%;
    max-width:450px ;
    /* padding: 0px 25px; */
    text-align: center;
    margin: auto;
}

.why-btn button{
    width: 95%;
    margin: auto;
}

}
/* ====================footer====================== */

footer{
    background-color: #2A222B;
    margin: 0;
    padding-top: 35px;
}
.foot-wrapper{
    /* background-color: darkblue; */
    width: 100%;
    max-width: 1440px;
    margin: auto;
    /* border: 2px solid gold; */
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    padding: 0px 30px 50px 30px;

}

.foot-wrapper li .fa-solid{
    color: white;
}

@media(max-width:767px){
    .foot-wrapper{
        flex-direction: column;
        gap: 1.2em;
    }
    .footr-down{
    flex-direction: column;
    color: white;
     padding: 0px;
     
}
}

.prod-roww{

}

.temp-roww{

}


.inte-roww{

}

.resource-roww{

}

.gtku-roww{

}

.socials-handle{

}

.menu li{
    font-size: 17px;
    margin-bottom: 10px;
    color: white;
}

.footr h5{
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
}

.footr-down{
    display: flex;
    justify-content: space-between;

    color: white;
     padding: 30px;
     border-top: 2px solid white;
}


.footr-inner{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.footr-inner a{
    color: #fff;
}