*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, sans-serif;
    
}
.tp-nv2{
    display: none;
}

header{
    background-color: #FAF9FB;
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    top: 0;
}

.tp-nv{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* border: 2px solid red; */
   
}


.head-left img{
    width: 150px;

}


.head-center ul{
    display: flex;
    gap: 1.6em;
    font-size: 15px;
    color: black;
    /* font-family: arial, sans-serif; */
    /* line-height: 22.4px; */
}

.head-right{
    display: flex;
    align-items: center;
    gap: 1em;
}

.loginn{
    color: black;
    font-size: 16px;
    text-align: center;
    }

    .loginn:hover{
        color: purple;
    }


    .head-right button{
        padding: 20px 35px;
        border-radius: 10px;
        background-color: black;
        color: white;
    }
    .fa-solid{
        display: none;
    }

    @media(max-width:991px){
       .tp-nv{
        display: none;
       }
        .tp-nv2{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        /* margin: auto; */
        /* padding: 15px 0px; */
       }

       .logo2 img{
        width: 50px;

       }

       .nv2-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
       }

       .nv2-left button{
            padding: 7px 10px;
            border-radius: 5px;
            background-color: black;
            color: white;
       }
    }

    /* =============marketing====================== */
    body{
        background-color:#FAF9FB;
    }
      .market{
        padding-top: 110px;
        margin-bottom: 50px;
    }
    /* =====================marketing=========================== */


.market-wrapper{
    width: 90%;
    height: auto;
    max-height: 723px;
    max-width: 1576px;
    /* background-color: forestgreen; */
    margin: auto;
    display: flex;
    justify-content: space-between;

}


.market-inner-one{
    width: 45%;
    /* background-color: darkgray; */
    max-width:704px ;
     padding: 120px 0px;
     /* margin: auto; */
}


.market-inner-two{
    width: 45%;
    max-width:704px ;
    /* background-color: brown; */
   

}


.mkt1{
    
    font-family: "Twklausanne 600", Arial, sans-serif;
    font-size: .9em;
    line-height: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #9454AB;
}

.market-inner-one h1{
    font-family: Tobias Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5em;
    line-height: 61px;
    margin-bottom: 25px;
    font-weight: 400;

}

.mkt2{
   font-size: 1.3em;
    line-height: 24px;
    margin-bottom: 25px;
    font-weight: 400; 
    margin-bottom: 50px;
}


.market-inner-two img{
    width: 100%;

}

.market-inner-one button{
    padding: 15px 55px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

/* ============================ */

.custom-xperience{
    margin: 30px 0px;
    
}

.custom-wrapper{
    width: 90%;
    height: auto;
    max-height: 723px;
    max-width: 1576px;
    /* background-color: blue; */
    margin: auto;
}


.custom-inner1{
    font-size: 2.3em;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
    margin-bottom: 30px;
}


.custom-inner2{
    width: 16%;
    padding: 12px 35px;
    border-radius: 25px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}


.custom-inner2a{
    padding: 12px 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
}


.custom-inner2b{
    padding: 10px 20px;
    border-radius: 15px;
    color: black;
}
/* ============================== */
.cus-wrapp{
     margin: 60px 0px;
}
.parent1{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 1em;
    justify-content: center;
   
}

.child{
    border: 1px solid black;
    padding: 27px 90px;
    background-color: white;
    border-radius: 30px;
}


.child img{
    width: 3em;
    margin: auto;
}

/* =========================== */

.wrk-hd{
    width: 90%;
    margin: auto;
}

.wrk-hd h2{
    font-size: 3em;
    font-weight:400 ;
    line-height:53px ;
    text-align: center;
}

/* ==============workflow-section================== */
.workflow-sect{
        margin: 70px 0px;
        padding: 50px 0px;
    } 


        .workflow-wrapper{
        /* background-color: moccasin; */
        width: 90%;
        height: auto;
        max-width:1440px ;
        /* max-height: 387px; */
        display: flex;
        justify-content: center;
        gap: 3em;
        margin: auto;
        padding: 0px 80px;
    }  


     .workflow-inner1{
        /* background-color: magenta; */
        width: 40%;
        height: auto;
        max-width:459px ;
        max-height:387px ;
        margin: auto;

} 

 .workflow-inner2{
     /* background-color: peru; */
        width: 45%;
        height: auto;
        max-width:581px ;
        /* max-height: 387px; */
        display: flex;
        margin: auto;
}  


 .workflow-inner2 img{
        width: 100%;
        height: 100%;
        max-width:581px ;
        /* max-height: 387px; */
        border-radius: 25px;
        margin: 0px;
}  

    .workflow-inner1 h2{
    font-size: 2.5em;
    font-weight: 400;
    line-height: 53px;
    margin-bottom: 20px;
}  

  .wrk-p2{
    font-size: 1.3em;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 30px
}  


 .wrk-p1{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 30px;
    color: #9454AB;
}  

/* ==============automation============= */

.automatee-sect{
        margin: 70px 0px;
        padding: 50px 0px;
    } 
    

    .automatee-wrapper{
        /* background-color:maroon ; */
        width: 90%;
        height: auto;
        max-width:1440px ;
        /* max-height: 387px; */
        display: flex;
        justify-content: center;
        gap: 2em;
        margin: auto;
        align-items: center;
        padding: 0px 50px;
    } 
      

      .automatee-inner1{
        /* background-color: honeydew; */
        width: 45%;
        height: auto;
        max-width:581px ;
        /* max-height: 387px; */
        display: flex;
        margin: auto;
}  


     .automatee-inner2{
        /* background-color: salmon; */
        width: 37%;
        height: auto;
        max-width:459px ;
        margin: auto;
        
    } 

        .automatee-inner1 img{
        width: 100%;
        height: 100%;
        max-width:581px ;
        /* max-height: 387px; */
        border-radius: 25px;
        margin: 0px;
} 

.automatee-inner2 h2{
    font-size: 3em;
    font-weight: 400;
    line-height: 53px;
    margin-bottom: 20px;
}  


  .inner-p1{
     font-size: 1.2em;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 30px;
    color: #9454AB;
}  


 .inner-p2 {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px
}  

/* =================branding-section================== */

.branding-sect{
        margin: 70px 0px;
        padding: 50px 0px;
    } 


         .brand-wrapper{
        /* background-color: moccasin; */
        width: 90%;
        height: auto;
        max-width:1440px ;
        display: flex;
        justify-content: center;
        gap: 3em;
        margin: auto;
        padding: 0px 80px;
    }  


    .brand-inner1{
        /* background-color: magenta; */
        width: 40%;
        height: auto;
        max-width:459px ;
        max-height:387px ;
        margin: auto;

}  

  .brand-inner2{
     /* background-color: peru; */
        width: 45%;
        height: auto;
        max-width:581px ;
        display: flex;
        margin: auto;
}   


 .brand-inner2 img{
        width: 100%;
        height: 100%;
        max-width:581px ;
        border-radius: 25px;
        margin: 0px;
}   

    .brand-inner1 h2{
    font-size: 2.5em;
    font-weight: 400;
    line-height: 53px;
    margin-bottom: 20px;
}   


  .brd-p2{
    font-size: 1.3em;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 30px
}  


 .brd-p1{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 30px;
    color: #9454AB;
}  


/* =========================== */

.goal-hd{
    width: 90%;
    margin: auto;
}

.goal-hd h2{
    font-size: 4em;
    font-weight:400 ;
    line-height:53px ;
    text-align: center;
}
/* =================acord-goal=================== */
.acord-sect{
        margin: 70px 0px;
        padding: 50px 0px;
        background-color: #F5F3F6;
    } 


         .acord-wrapper{
        /* background-color: moccasin; */
        width: 90%;
        height: auto;
        max-width:1440px ;
        display: flex;
        justify-content: center;
        gap: 3em;
        margin: auto;
        padding: 0px 80px;
    }  


    .acord-inner1{
        /* background-color: magenta; */
        width: 40%;
        height: auto;
        max-width:459px ;
        max-height:387px ;
        margin: auto;

}  

  .acord-inner2{
     /* background-color: peru; */
        width: 45%;
        height: auto;
        max-width:581px ;
        display: flex;
        margin: auto;
}   


 .acord-inner2 img{
        width: 100%;
        height: 100%;
        max-width:581px ;
        border-radius: 25px;
        margin: 0px;
}   



.btn{
    display: flex;
    justify-content: center;
}

    /* .brand-inner1 h2{
    font-size: 2.5em;
    font-weight: 400;
    line-height: 53px;
    margin-bottom: 20px;
}    */


  /* .brd-p2{
    font-size: 1.3em;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 30px
}   */


 /* .brd-p1{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 30px;
    color: #9454AB;
}   */

/* ====================h-work-section======================== */

  .hwork{
        margin: 70px 0px;
        padding: 50px 0px;
  }

  .hwork-hd{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .hwork h2{
    font-size: 4em;
    font-weight:400 ;
    line-height:53px ;
    text-align: center;
  }


  .h-work-wrapper{
        width: 90%;
        height: auto;
        max-width:1440px ;
        display: flex;
        justify-content: space-between;
        /* gap: 1em; */
        margin: auto;
        /* padding: 0px 80px; */
        /* background-color: aqua; */

  }


  .hwork-child{
    width: 32%;
    max-width:459px;
    height: 100%;
    max-height:588px;
    /* background-color: beige; */
    margin-bottom: 15px;
  }

  .hwork-btn{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    
  }

  .hwork-child img {
        width: 100%;
        max-height: 458px;
        border-radius: 20px;
        margin-bottom: 15px;
  }


  .hwork-btn a{
    padding: 8px 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-decoration: none;
  }

/* ========================== */


.increase-sect{
    padding-bottom: 60px;
    /* border-bottom-left-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
    background-color: white;
}

.increase-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color:#A25FBA;
    width: 90%;
    max-width:1440px ;
    height:70vh;
    max-height: 455px;
    padding: 50px 0px;
    margin-bottom: 20px;
    border-radius: 70px;
}

.increase-wrapper h2{
    font-family: Tobias, "Times New Roman", sans-serif;
    font-size: 4em;
    color: white;
    font-weight: 400;
    line-height: 70px;
    width:55% ;
    max-width:832px ;
    max-height: 211px;
    text-align: center;
    padding:0px 50px ;
    margin-bottom: 20px;
}


 .increase-wrapper p{
    font-family: Tobias, "Times New Roman", sans-serif;
    font-size: 1.3em;
    color: white;
    font-weight: 400;
    line-height: 26px;
    width:55% ;
    max-width:832px ;
    text-align: center;
 }

 /* ============find-out-section================ */
.find-out{
    margin: 70px 0px;
    padding: 50px 0px;
}
 
  .findout-wrapper{
        width: 90%;
        height: auto;
        max-width:1440px ;
        display: flex;
        justify-content: space-between;
        gap: 1em;
        margin: auto;
        
  }


  .findout-child{
    width: 32%;
    max-width:459px;
    height: 100%;
    max-height:588px;
    /* background-color: beige; */
    margin-bottom: 15px;
  } 

  .findout-child img {
        width: 100%;
        max-height: 458px;
        border-radius: 20px;
        margin-bottom: 15px;
  }

  .findout-child h3{
    font-size: 1.6em;
    font-weight:400 ;
    /* text-align: center; */
    color: black;
    text-decoration: none;
  }


  .findout-child p{
    font-size: 1em;
    font-weight:400 ;
  }

/* ========================================== */
.try-type{
    margin: 30px 0px;
    
}

.trytype-wrapper{
    width: 90%;
    height: auto;
    max-height: 723px;
    max-width: 1576px;
    /* background-color: blue; */
    margin: auto;
    /* display: flex;
    justify-content: center; */
}


.trytype-inner1 h2{
    font-size: 4em;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
    padding: 20px 0px;
    margin: auto;
}

.trytype-inner1 p{
   font-size: 1.4em;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px 0px;
    margin:auto;
}


.trytype-inner2{
    width: 16%;
    padding: 12px 35px;
    border-radius: 15px;
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}


.trytype-inner1{
  margin: 30px 0px;
}


/* =============feedback-section============ */

.feed-wrap{
    background-color: black;
}
.feedback-sect{
    padding-bottom: 60px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;

}

.feedback-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color:#A25FBA;
    width: 90%;
    max-width:1440px ;
    height:80vh;
    max-height: 455px;
    padding: 50px 0px;
    margin-bottom: 20px;
    border-radius: 70px;
}

.feedback-wrapper h2{
    font-family: Tobias, "Times New Roman", sans-serif;
    font-size: 4em;
    color: white;
    font-weight: 400;
    line-height: 70px;
    width:55% ;
    max-width:832px ;
    max-height: 211px;
    text-align: center;
    padding:0px 50px ;
    margin-bottom: 25px;
}


.feedback-wrapper button {
    padding: 15px 40px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: none;
    font-size: 1em;
}


/* =================footer================ */

footer{
    background-color: black;
    margin: 0;
    padding: 0;
}
.foot-wrapper{
    /* background-color: darkblue; */
    width: 100%;
    /* border: 2px solid gold; */
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    padding: 30px 30px 50px 30px;

}

.prod-roww{

}

.temp-roww{

}


.inte-roww{

}

.resource-roww{

}

.gtku-roww{

}

.socials-handle{

}

.menu li{
    font-size: 17px;
    margin-bottom: 10px;
    color: white;
}

.footr h5{
    font-size: 20px;
    color: white;
}

.footr-down{
    color: white;
     padding: 30px;
     border-top: 2px solid white;
}


  

  
 
