*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.career-top{
    margin: 100px 0px 50px 0px;
}
.career-wrapper{
    width: 60%;
    margin: auto;

}

.career-wrapper h1{
    font-size: 4.5em;
    font-weight: 400;
   text-align: center;
   margin-bottom: 20px;
}

.career-wrapper p{
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
    width: 70%;
    margin: auto;
    line-height: 26px;
}

/* ============================================ */
.hero-wrapper{
    width: 95%;
    margin: auto;
    padding: 10px;
}

.hero-wrapper img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 40px;
}
/* ============================ */

.opn{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opn h2{
    width: 40%;
   text-align: center;
    font-size: 4em;
    line-height: 55px;
    margin: 50px 0px;
    
}
/* ====================================== */
.open-accord{
    width: 95%;
    margin: auto;
    padding:50px 0px ;
}

.accord-wrapper{
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px 0px;
}

.accord-inner{
    width: 80%;
    height: 15vh;
    margin: auto;
    padding: ;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #FAF9FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.accord-inner h5{
    font-size: 2em;
    font-weight: 400;
}

.accord-child{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.accord-child p{
    font-size: 1.6em;
    font-weight: 400;
}
/* ============================ */

/* =================acord-goal=================== */
.acord-sect{
        margin: 70px 0px;
        padding: 50px 0px;
        background-color: #F5F3F6;
    } 
    
        .goal-hd{
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .goal-hd h2{
            width: 50%;
            text-align: center;
            margin: 50px 0px;
            font-size: 4em;
        }

         .acord-wrapper{
        /* background-color: moccasin; */
        width: 90%;
        height: auto;
        max-width:1440px ;
        display: flex;
        justify-content: center;
        gap: 3em;
        margin: auto;
        padding: 0px 80px;
    }  


    .acord-inner1{
        /* background-color: magenta; */
        width: 40%;
        height: auto;
        max-width:459px ;
        max-height:387px ;
        margin: auto;

}  

  .acord-inner2{
     /* background-color: peru; */
        width: 45%;
        height: auto;
        max-width:581px ;
        display: flex;
        margin: auto;
}   


 .acord-inner2 img{
        width: 100%;
        height: 100%;
        max-width:581px ;
        border-radius: 25px;
        margin: 0px;
}   
/* ============================== */
.recent-typ{
    background-color: black;
}
.recent-wrapper{
    width: 100%;
    margin: auto;
    background-color:#FAF9FB;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.recent-top{
    width: 90%;
    margin: auto;

}

.recent-top h3{
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 4em;
}

.recent-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    gap: 1em;
    margin: 60px 0px;
    padding: 0px 20px;
}

.recent-flier{
    width: 32%;
}
.recent-down{
     width: 90%;
     margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
   

}

.recent-down a{
    padding: 10px 25px;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin: 70px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
}

